<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>My ASL Smart Home</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../resources/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
	<ul class='navBarStyle'>
		<li class='navLinkStyle'><a href="index.html">Index</a></li>
		<li class='navLinkStyle'><a href="about.html">About</a></li>
		<li class='navLinkStyle'><a href="login.html">Login</a></li>
	</ul>
	<h1 class='headerStyle'> My ASL Home Companion
		<div class='mottoStyle'>Speak to your home in sign</div>
	</h1>
	<div class="containerHome">
		<div class="homerow1col1"><img src='../resources/images/temp_home_pic.jpg' alt='temp background'
				class='homeImgStyle'>
		</div>
		<div class="homerow1col2">Smart home control taken to the next level.
			<ul>
				<li class='attributeListStyle'><span class='keywordStyle'>Easy</span> to set up.</li>
				<li class='attributeListStyle'><span class='keywordStyle'>Reliable</span>in operating your smart home.
				</li>
				<li class="attributeListStyle">Executes tasks in <span class='keywordStyle'>real time</span></li>
			</ul>
		</div>
	</div>
	<div class='buttonCont'>So, what do you say? Want to give My ASL Smart Home a try?
		<div class='buttonWrapper'>
			<button class='signUpStyle' id='signUpButton'>Sign Up</button>
			<button class='loginStyle' id='loginButton'>I already have an account!</button>
		</div>
	</div>
	<script src="" async defer></script>
</body>
<!-- <div>'testz</div> -->

</html>