<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../resources/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
	<ul class='navBarStyle'>
		<li class='navLinkStyle'><a href="index.html">Index</a></li>
		<li class='navLinkStyle'><a href="about.html">About</a></li>
		<li class='navLinkStyle'><a href="login.html">Login</a></li>
	</ul>
	<div class='containerLogin'>
		<div class='loginrow1col1'></div>
		<div class='loginrow1col2'>
			<div class='formWrapper'>Login
				<form class='loginForm'>
					<div class="inputFieldStyle">
						<input type='username' id='loginUser' class='loginInputStyle'>
					</div class='inputFieldStyle'>
					<div>
						<input type='password' id='loginPass' class='loginInputStyle'>
					</div>
				</form>
				<button class='signUpStyle'>Login</button>
			</div>
		</div>

	</div>
</body>